[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-celery-results = "*"
django-celery-beat = "*"
celery = "*"
requests = "*"
bs4 = "*"
django-extensions = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
